[workspace]
authors = ["Morten Enemark Lund <melund@gmail.com>"]
channels = ["conda-forge",  "anybody", "anybody/label/rc"]
platforms = ["win-64", "linux-64"]
preview = ["pixi-build"]

[environments]
docs = ["docs"]
test = ["test", "anybody"]
build = ["build"]
jupyter = ["jupyter", "anybody"]

[dependencies]
anypytools = {path= "."}


[package]
name = "anypytools"
version="1.20.4"

[package.build] 
backend = { name = "pixi-build-python", version = "*" }


[package.host-dependencies]
flit-core="*"
pip = "*"
setuptools = "*"


[package.run-dependencies]
python= ">=3.10"
pip="*"
h5py="*"
setuptools="*"
pydoe="*"
scipy="*"
pygments_anyscript="*"
pandas="*"
ipywidgets="*"
rich="*"
# [package.target.win-64.run-dependencies]
pywin32="*"



[feature.build.dependencies]
flit = "*"
pip = "*"
twine = "*"


[feature.build.tasks]
clean-build = "rm -rf build dist"
publish = {cmd="op run --env-file=upload.env -- flit publish"}
build = {cmd="flit build", depends-on=["clean-build"]}
check-wheel = "twine check dist/*"


[feature.jupyter.dependencies]
matplotlib = "*"
jupyter="*"
ipykernel = "*"
ipywidgets = "*"
seaborn = ">=0.13.2,<0.14"

[feature.test.dependencies]
pytest=">=9"
pytest-xdist = "*"
debugpy = "*"

[feature.anybody.target.win-64.dependencies]
anybodycon = "8.2*"

[feature.test.tasks]
# test-install = {cmd="pip install -e ."}
test = {cmd = "pytest"}

[feature.docs.dependencies]
pydata-sphinx-theme = ">=0.16.1,<0.17"
myst-nb = ">=1.3.0,<2"
sphinx = ">=8.2.3,<9"
sphinx-design = ">=0.6.1,<0.7"
astroid = ">=2.7,<4"
sphinxcontrib-napoleon = ">=0.7,<0.8"
ipywidgets = "*"

[feature.docs.pypi-dependencies]
sphinx-autodoc2 = { git = "https://github.com/AnyBody-Research-Group/sphinx-autodoc2", rev = "215f04e72efc7294a0c93de4f038b9a1aa806e8f" }

[feature.docs.tasks]
build-docs = {cmd="sphinx-build -nW --keep-going -b html docs/ docs/_build/html"}


