[workspace]
authors = ["Morten Enemark Lund <melund@gmail.com>"]
channels = ["https://prefix.dev/conda-forge", "https://prefix.dev/anybody-beta"]
platforms = ["win-64", "linux-64"]
preview = ["pixi-build"]

[dependencies]
anypytools = {path= "."}


[package]
name = "anypytools"
version="1.18.0"

[package.build] 
backend = { name = "pixi-build-python", version = "*" }


[package.host-dependencies]
flit-core="*"
pip = "*"
setuptools = "*"


[package.run-dependencies]
python= ">=3.10"
pip="*"
h5py="*"
setuptools="*"
pydoe="*"
scipy="*"
pygments_anyscript="*"
pandas="*"
ipywidgets="*"
rich="*"
# [package.target.win-64.run-dependencies]
pywin32="*"



[feature.build.dependencies]
flit = "*"
pip = "*"


[feature.build.tasks]
clean-build = "rm -rf build dist"
publish = {cmd="op run --env-file=upload.env -- flit publish"}
build = {cmd="flit build", depends-on=["clean-build"]}


[feature.jupyter.dependencies]
matplotlib = "*"
jupyter="*"
ipykernel = "*"
ipywidgets = "*"
seaborn = ">=0.13.2,<0.14"

[feature.test.dependencies]
pytest="*"
pytest-xdist = "*"
debugpy = "*"

[feature.anybody.target.win-64.dependencies]
anybodycon = "8.2*"

[feature.test.tasks]
# test-install = {cmd="pip install -e ."}
test = {cmd = "pytest"}


# [feature.docs.dependencies]
# python = ">=3.13.9,<3.15"
# ipython = ">=9.6.0,<10"
# linkify-it-py = ">=2.0.3,<3"
# sphinx = ">=8.2.3,<9"
# myst-parser = ">=4.0.1,<5"
# markupsafe = ">=3.0.3,<4"
# make = ">=4.4.1,<5"
# sphinx-design = ">=0.6.1,<0.7"
# matplotlib = ">=3.10.7,<4"
# cloud_sptheme = ">=1.10.1.post20200504175005,<2"
# pillow = ">=11.3.0,<12"
# tqdm = ">=4.67.1,<5"
# numpy = ">=2.3.4,<3"
# jinja2 = ">=3.1.6,<4"
# ipywidgets = ">=8.1.7,<9"
# nbsphinx = ">=0.9.7,<0.10"
# pytest = ">=8.4.2,<9"

[feature.docs.dependencies]
pydata-sphinx-theme = ">=0.16.1,<0.17"
myst-nb = ">=1.3.0,<2"
sphinx = ">=8.2.3,<9"
sphinx-design = ">=0.6.1,<0.7"
astroid = ">=2.7,<4"
sphinxcontrib-napoleon = ">=0.7,<0.8"

[feature.docs.pypi-dependencies]
sphinx-autodoc2 = { git = "https://github.com/AnyBody-Research-Group/sphinx-autodoc2", branch = "main" }

[feature.docs.tasks]
build-docs = {cmd="sphinx-build -nW --keep-going -b html docs/ docs/_build/html"}


[environments]
docs = ["docs"]
test = ["test", "anybody"]
build = ["build"]
jupyter = ["jupyter", "anybody"]
